{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section 
        class="avatar" 
        style="background: url(https://source.unsplash.com/collection/3096047/500x500) no-repeat top center/ cover">
    </section>
    <section class="details">
        <h3>DETALHES</h3>
        <div class="item">
            <div>NOME COMPLETO</div>
            <div>Jefferson S Ramos</div>
        </div>
        <div class="item">
            <div>IDADE</div>
            <div>32</div>
        </div>
        <div class="item">
            <div>GRAU DE ESCOLARIDADE</div>
            <div>Superior</div>
        </div>        
        <div class="item">
            <div>TIPO DE AULA</div>
            <div>
                <span>Presencial</span>
                <span>A Distância</span>
            </div>
        </div>
        <div class="item">
            <div>ACOMPANHAMENTO</div>
            <div>
                <span>Matemática</span>
                <span>Física</span>
            </div>
        </div>
        <div class="item">
            <div>DESDE</div>
            <div>02/02/2020</div>
        </div>
    </section>
</div>
{% endblock %}